{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{{ 'Mon dashboard' }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12 text-center">
            //TODO
        </div>
    </div>
{% endblock %}
